body {
    background-color: rgb(41, 41, 48);
    color: white;
    overflow: hidden;
}

#introScreenContainer {
    display: none;
    position: absolute;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

#intro-screen-darken {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    width: 100%;
    height: 100%;
}

#intro-screen-card {
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 10%;
    z-index: 99;
    height: 80vh;
    width: 80%;
    padding: 1%;
    background-color: #286173;
    border-radius: 25px;
    overflow-y: scroll;
}

#introScreenTitle{
    font-size: 55px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    color: #eef6f9;
    margin: 10px 0 0 0px;
}

.introSubHeading {
    font-size: 35px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: #eef6f9;
    margin-left: 20px;
    margin-right: 20px;
}

.explainingText {
    font-size: 18px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: #eef6f9;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
    text-align: justify;
}

.definitionText {
    padding: 5px 0px 20px 30px;
}

#explanationMap {
    width: 40%;
    margin-left: 30%;
}

.flex-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
}

#streakContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 15px;
    left: 20px;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5px;
    height: 5vh;
}

#streakIcon {
    height: 3.8vh;
    width: auto;
}

#streakNumber {
    font-size: 3.5vh;
}

#imgDiv {
    overflow: hidden;
}

@media (min-aspect-ratio: 16/9){
    #imgDiv {
        height: 100vh;
    }
}

#prefectureImage {
    display: block;
    margin: auto;
    max-height: 100%;
    transition: transform .2s;
    object-fit: cover;
}

/*#imgDiv:hover #prefectureImage {
    transform: scale(2.2);
    max-height: 100%;
}*/

#titleText {
    font-size: 8vh;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

#prefectureGuess {
    display: block;
    margin-top: 4%;
    width: 98%;
    font-size: 4vh;
}

.green-text {
    color: rgb(51, 227, 106);
}

.description-text {
    font-size: 2.8vh;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
}

#yellowSpan {
    color: #F2E71A;
}

.guessBoxes {
    height: 8%;
    width: 98%;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 3px;
}

.guessTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#answerReveal {
    text-align: center;
    font-size: 4vh;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#hintLines {
    text-align: center;
    font-weight: bold;
    font-size: 4.2vh;
}

#googleAnchor {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 3.3vh;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    width: 98%;
    padding: 0.8vh 0;
    background-color: #1655ca;
    border-radius: 5px;
    box-shadow: inset 0 0 3px #09224f;
}

#footerBar {
    position: absolute;
    bottom: 0;
    left: 70%;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

#helpIcon {
    margin: 10px 10px 10px 30px;
    height: 4.2vh;
    width: auto;
}

#japaneseModeButton {
    margin: 10px 0px 10px 0px;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 4.2vh;
    color: #666;
}

.buttonCursor:hover {
    cursor: pointer;
}

/* */

@media (max-aspect-ratio: 16/9) {
    body {
        overflow-y: scroll;
        margin: 0;
    }
    .flex-wrapper {
        flex-direction: row;
        grid-template-columns: 1fr;
        grid-template-rows: 40vh auto;
    }
    #imgDiv {
        align-items: center;
        justify-content: center;
    }
    #prefectureImage {
        max-width: 100%;
    }
    #rightSideContainer{ 
        margin: 0 1%;
        padding-bottom: 0.7rem;
    }
    .guessBoxes {
        height: 12%;
    }
    
    .guessTextContainer {
        font-size: 3.6vh;
    }
    #footerBar {
        position: static;
        left: 0;
        margin-top: 4vh;
    }
    #helpIcon {
        height: 5vh;
    }
    #japaneseModeButton {
        font-size: 5vh;
    }
    #introScreenTitle{
        font-size: 40px;
    }
    .introSubHeading {
        text-align: center;
    }
    .explainingText {
        font-size: 14px;
        text-align: center;
    }
    .definitionText {
        padding: 5px 0px 20px 0px;
    }

}
